.login_wrapper {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 50px;
}

.login_content {
    border: #DDDDDD 1px solid;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #888888;
}

    .login_content h3 {
        text-align: center;
        font-family: "Tahoma, Geneva, sans-serif";
        background-color: #001f3f;
        color: #fff;
        padding: 15px;
        margin: 0 !important;
        border-radius: 10px 10px 0 0;
    }

    .login_content input {
        position: relative;
        border: none;
        padding: 15px 50px;
        font-size: 16px;
    }

       
      
        .login_content .button {
            margin: 0 !important;
            background: transparent;
        }
        .login_content .button input {
            width: 100%;
            border: 0;
        }
        .login_content .button input#btnLogin {
            border-radius: 0 0 10px 10px;
        }
    .login_content .form-group {
        margin-top: 15px;
    }
    .login_content .separator-line {
        border-top: #ddd 1px solid;
    }
     .login_content .option {
         padding: 10px;
     }
     .login_content .RememberMe_text {
         font-weight: bold;
         position: relative;
         top: 4px;
         left: 10px;
         color: #95a7b7;
     }
     .cls-btn-add {
         margin: 0 !important;
         padding-top: 10px;
         padding-right: 10px
     }



     /*Modal user*/
     #accountModal .row {
         margin-bottom: 10px;
     }
      #accountModal .row input {
          border: none;
      }