 <div class="hot-news">
    <h4 class="title-hot">Tìm kiếm</h4>
    <form action="" method="get">
        <input type="text" id="txtSearch" class="form-control" name="txtSearch" />
    </form>
 </div>

